.TodoList {
	
}
.ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* column-gap: 2%; */
}
.li{
    height: 33vh;
    width: 13vw;
    border: 0.5px solid gray;
    border-radius: 2%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    margin: 5px;
    padding: 5px;
    /* align-items: center;
    justify-content: center; */
}
